webserver: {

  //static pages web root, templates implemented dynamically
  web_root: "./web"
  port: 8080
  websocketPort: 8080
  host: "0.0.0.0"
  caching: false
  cache_site: false
  ssl: false
  key_store_path: "..."
  key_store_password: "..."

  // Configuration for the event bus client side bridge
  // This bridges messages from the client side to the server side event bus
  bridge: true,

  route_matcher: true,

  // This defines which messages from the client we will let through
  // to the server side
  inbound_permitted: [
    
    { address: "jobs.list" },
    
    { address: "jars.add" },
    { address: "jars.delete" },
    { address: "jars.list" }
    
  ],

  // This defines which messages from the server we will let through to the client
  outbound_permitted: [
    {}
  ]

}

mockdao: {

  jarsDir: "d:/tmp/aspen-mock"
  
}